.create-roject{
    .loading{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: white;
        z-index: 1;
        display: none;
        img{
            max-width: 500px;
            width: 100%;
        }
    }
    .load{
        display: flex;
    }
    .auth-wrapper {
        max-width: 460px;
    }
    .auth-logo {
        max-width: 340px;
        margin: 0 auto 20px auto;
    }
    .btn-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 34px;
        .btn{
            max-width: 210px;
            line-height: 24px;
            height: auto;
        }
    }
    .input-wrapper{
        input{
            width: calc(100% - 110px);
        }
        label{
            font-size: 12px;
        }
        .custom-file-input{
            width: 100%;
        }
    }
    .file-done{
        border-color: #009980;
        color: #009980;
    }
    .file-done::before{
        content: 'Image uploaded';
        background-color: #009980;
    }
    
}
.custom-file-input{
    position: relative;
    cursor: pointer;
    user-select: none;
    background-color: #b84672;
}
.custom-file-input:focus{
    outline: none;
}

.custom-file-input::before {
    content: 'Upload Background';
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background-color: #b84672;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 16px;
  }
  .input-text {
    color: #b84672;
    font-weight: 600;
    font-size: 12px;
    margin: -10px 10px 00;
}
.set-logo {
    .custom-file-input{
        width: 100%;
    }

    .custom-file-input::before {
        content: 'Upload Logo';
        background-color: white;
        color: black;
        font-size: 18px;
    }
}

@media screen and (max-height: 710px) {
    .create-roject{
        .auth-page{
            display: block;
        }
        .auth-wrapper {
            margin: auto;
        }
    }
  }