
.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  .auth-wrapper {
      width: 96%;
      max-width: 360px;
      padding: 20px 0;
  }
  
  .input-container {
    width: 100%;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 20px;
    border-radius: 10px;
    position: relative;
  }
  .auth-wrapper .btn-wrapper .btn {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background-color: #009980;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 16px;
  }
  .btn:focus{
    outline: none;
  }
  
  .input-wrapper {
    margin: 8px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .input-wrapper input {
    height: 38px;
    border: 2px solid #b84672;
    border-radius: 7px;
    padding: 5px;
    width: calc(100% - 86px);
    color: #b84672;
    font-weight: 600;
  }
  .input-wrapper input:focus{
    outline: none;
  }
  .input-wrapper label {
    margin-right: 16px;
    color: #b84672;
    font-size: 14px;
    font-weight: 600;
  }
  .auth-failed .input-container::before{
    content: "e-mail or password failed";
    position: absolute;
    top: 10px;
    color: #b84672;
    font-size: 14px;
  
  }
  .auth-logo{
    width: 100%;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 20px;
  }
  .auth-logo img{
    width: 100%;
  }
  
  @media screen and (max-height: 539px) {
    .auth-logo{
      display: none;
    }
  }