.main {
    display: flex;
    flex-direction: column;
}
.project-list {
    width: 96%;
    max-width: 1260px;
    margin: auto;
    background-color: #ededed;
    border-radius: 20px;
    padding: 40px 25px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 40px;
}
.project-list-hide{
    display: none;
}

.project-item{
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc((100% / 3) - (20px * (2/3)));
    &:nth-child(3n + 3){
        margin-right: 0;
    }
    .attributes {
        margin-left: 10px;
        width: 150px;
        padding: 15px 0 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .attr{
            color: #009980;
            font-weight: 600;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
    .img-wrapper{
        position: relative;
        width: calc(100% - 160px);
        max-width: 225px;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border: 2px solid #009980;
        border-radius: 10px;
        background-color: white;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        img{
            position: absolute;
            height: 100%;
        }
    }
}
.next-page {
    position: absolute;
    bottom: 0;
    left: calc(50% - 20px);
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.next-page-hide{
    display: none;
}
.delete-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: 0.4s;
}
.img-wrapper:hover .delete-btn{
    opacity: 1;
}
.delete-btn:hover{
    color: #b84672;
}
.delete-btn:focus{
    outline: none;
}
.main-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 30px 0 20px 0;
    img{
        height: 100%;
    }
}
.navigation {
    width: 96%;
    max-width: 1260px;
    margin: 10px auto 20px auto;
    display: flex;
    flex-wrap: wrap;
    .nav-btn {
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background-color: #b84672;
        color: white;
        width: 260px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        border-radius: 10px;
    }
    .set-logo{
        background-color: white;
        color: black;
        width: 180px;
    }
}
.out {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 600;
}
@media screen and (max-width: 470px){
    .navigation{
        .nav-btn {
            width: 100%;
        }
        .set-logo{
            width: 100%;
        }
    }
}
@media screen and (max-width: 1200px){
    .delete-btn {
        opacity: 1;
    }
}
@media screen and (max-width: 960px){
    .project-item{
        width: calc((100% / 2) - (20px * (1/2)));
        &:nth-child(3n + 3){
            margin-right: 20px;
        }
        &:nth-child(2n + 2){
            margin-right: 0;
        }
    }
}
@media screen and (max-width: 768px){
    .project-item{
        width: 100%;
        margin-right: 0;
        justify-content: center;
        &:nth-child(3n + 3){
            margin-right: 0;
        }

    }
}
iframe{
    display: none;
}