.viewer-wrapper{
    width: 96%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.header {
    width: 100%;
    border: 3px solid #009980;
    display: flex;
    margin-top: 40px;
    border-radius: 0 10px 10px 10px;
    padding: 7px 20px;
    justify-content: space-between;
    align-items: center;
    .group-icons{
        display: flex;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
    
        .icon {
            max-width: 47px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 11px;
            font-weight: 600;
            cursor: pointer;
            user-select: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
        .red{
            color: #b84672;
            svg{
                fill: #b84672;
                g{
                    fill: #b84672;
                }
            }
        }
    }
    .icon-img{
        height: 37px;
        width: auto;
        display: flex;
        margin-bottom: 3px;
    }
}

.toolbar {
    border: 3px solid #009980;
    width: 210px;
    margin: 30px 12px 0 0;
    position: relative;
    padding: 14px 7px;
    padding-bottom: 70px;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(to bottom, #ffffff 1%,#f0f8f6 100%);
    height: calc(100vh - 200px);
    min-height: 300px;
    margin-bottom: 10px;
    &::before{
        content: "Construction Toolbar";
        position: absolute;
        right: -3px;
        top: 0;
        transform: translateY(-100%);
        color: white;
        background-color: #009980;
        width: 140px;
        height: 20px;
        font-size: 11px;
        padding: 0 15px 3px 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-radius: 10px 10px 0 0;
    }
    .toolbar-logo {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0 10px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        img{
            height: 100%;
        }
    }
    .toolbar-line{
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-bottom: 10px;
        .toolbar-icon{
            height: 26px;
            margin: 0 15px;
            img{
                height: 100%;
            }
        }
    }
}
.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 12px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #009980;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #009980;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(8px);
    -ms-transform: translateX(8px);
    transform: translateX(8px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.library {
    border: 3px solid #009980;
    width: 275px;
    margin: 30px 0 0 12px;
    position: relative;
    padding: 14px 7px 60px 7px;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(to bottom, #ffffff 1%,#f0f8f6 100%);
    height: calc(100vh - 200px);
    min-height: 300px;
    margin-bottom: 10px;
    
    &::before{
        content: "BIM library";
        position: absolute;
        right: -3px;
        top: 0;
        transform: translateY(-100%);
        color: white;
        background-color: #009980;
        width: 140px;
        height: 20px;
        font-size: 11px;
        padding: 0 15px 3px 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-radius: 10px 10px 0 0;
    }
    .library-items-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .library-item{
        width: calc((100% / 3) - 3px);
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        margin-right: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:nth-child(3n+3){
            margin-right: 0;
        }
        .item-img {
            width: 100%;
            height: 74px;
            background-size: cover;
            background-position: center;
        }
        .item-name{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 10px;
            background-color: #009980;
            color: white;
            font-weight: 500;
            text-align: center;
            padding: 2px;
        }
    }
}
.search-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    .search-icon{
        position: absolute;
        width: 17px;
        right: 8px;
    }
    .input-search {
        width: 100%;
        height: 36px;
        border: 2px solid #009980;
        border-radius: 10px;
        color: #009980;
        padding: 0 26px 0 10px;
        font-weight: 700;
        &:focus{
            outline: none;
        }
    }
    ::placeholder {
        color: #009980;
        opacity: 1; 
      }
      
      :-ms-input-placeholder {
       color: #009980;
      }
      
      ::-ms-input-placeholder {
       color: #009980;
      }
}

.viewer-main {
    width: calc(100% - 509px);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 128px);
    min-height: 372px;
    .three-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 200px);
        border: 6px solid #009980;
        margin: 10px;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 200px;
        img{
            height: 100%;
        }
    }
}
.properties {
    border: 3px solid #009980;
    width: 100%;
    margin-top: 30px;
    position: relative;
    padding: 7px;
    border-radius: 0 0 10px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    &::before{
        content: "Tool Properties";
        position: absolute;
        right: -3px;
        top: 0;
        transform: translateY(-100%);
        color: white;
        background-color: #009980;
        width: 140px;
        height: 20px;
        font-size: 11px;
        padding: 0 15px 3px 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        border-radius: 10px 10px 0 0;
    }
    .properties-item {
        display: flex;
        font-size: 12px;
        font-weight: 600;
        align-items: center;
        .value {
            color: white;
            background-color: #009980;
            margin-left: 7px;
            padding: 2px 5px;
            border-radius: 10px;
        }
    }
    .red{
        color: #b84672;
        .value {
            background-color: #b84672;
        }
    }
    .green{
        color: #009980;
    }
}
.load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    background-image: url('../assets/load.gif');
    display: none;
}
.load-anim{
    display: block;
}